Source: libusermetrics
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
 cmake,
 libgtest-dev,
 google-mock,
 qtbase5-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://launchpad.net/libusermetrics
Vcs-Bzr: http://bazaar.launchpad.net/~indicator-applet-developers/libusermetrics/trunk
Vcs-Browser: https://code.launchpad.net/~indicator-applet-developers/libusermetrics/trunk

Package: libusermetrics1-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libusermetrics1 (= ${binary:Version})
Description: library for exporting and retreving anonymous metrics about the users of
 the system.
 .
 This package contains files that are needed to build applications.

Package: libusermetrics1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: library for exporting and retreving anonymous metrics about the users of
 the system.
 .
 This package contains shared libraries to be used by applications.

Package: libusermetrics-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: API documentation for libusermetrics
 This package installs the libusermetrics API documentation.