Source: libusermetrics
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               cmake-extras (>= 0.2),
               dbus,
               debhelper (>= 9),
               doxygen,
               gettext,
               google-mock (>= 1.6.0+svn437),
               libapparmor-dev,
               libclick-0.4-dev,
               libgsettings-qt-dev,
               libgtest-dev,
               libqdjango-dev,
               libqt5sql5-sqlite,
               libqt5xmlpatterns5-dev,
               libqtdbustest1-dev,
               pkg-config,
               qtbase5-dev,
               sqlite3,
               valgrind [!arm64 !powerpc !ppc64el],
               qtdeclarative5-dev,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-test-plugin,
Standards-Version: 3.9.4
Section: libs
Homepage: http://launchpad.net/libusermetrics
# If you aren't a member of ~unity-team but need to upload packaging changes,
# just go ahead.  ~unity-team will notice and sync up the code again.
Vcs-Bzr: http://bazaar.launchpad.net/~unity-team/libusermetrics/trunk
Vcs-Browser: https://code.launchpad.net/~unity-team/libusermetrics/trunk
X-Ubuntu-Use-Langpack: yes

Package: usermetricsservice
Architecture: any
Depends: adduser,
         dbus,
         libqt5sql5-sqlite,
         sqlite3,
         ${misc:Depends},
         ${shlibs:Depends},
Description: library for exporting anonymous metrics about users
 This package contains the service which stores the metrics.
Multi-Arch: same

Package: libusermetricsinput1-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libusermetricsinput1 (= ${binary:Version}),
         ${misc:Depends},
Description: library for exporting anonymous metrics about users
 This package contains files that are needed to build applications.

Package: libusermetricsinput1
Section: libs
Architecture: any
Multi-Arch: same
Depends: gettext,
         usermetricsservice (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: ${misc:Pre-Depends},
Description: library for exporting anonymous metrics about users
 This package contains shared libraries to be used by applications.

Package: libusermetricsoutput1-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libusermetricsoutput1 (= ${binary:Version}),
         ${misc:Depends},
Description: library for retrieving anonymous metrics about users
 This package contains files that are needed to build applications.

Package: libusermetricsoutput1
Section: libs
Architecture: any
Multi-Arch: same
Depends: usermetricsservice (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: ${misc:Pre-Depends},
Description: library for retrieving anonymous metrics about users
 This package contains shared libraries to be used by applications.

Package: libusermetrics-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
Description: API documentation for libusermetrics
 This package installs the libusermetrics API documentation.

Package: libusermetrics-tools
Architecture: any
Depends: libusermetricsinput1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: library for exporting anonymous metrics about users
 This package contains command line tools to operate the library.

Package: qtdeclarative5-usermetrics0.1
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qtdeclarative5-qtquick2-plugin,
         libusermetricsinput1 (= ${binary:Version}),
Description: QML bindings for libusermetrics
 A set of bindings allowing the use of libusermetrics from QML applications.
