Source: libusermetrics
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               doxygen,
               google-mock,
               libgtest-dev,
               qtbase5-dev,
               libqdjango-dev,
               valgrind,
               pkg-config,
               libqt5sql5-sqlite,
               sqlite3,
               dbus,
               gettext,
Standards-Version: 3.9.4
Section: libs
Homepage: http://launchpad.net/libusermetrics
# If you aren't a member of ~indicator-applet-developers but need to upload packaging changes,
# just go ahead.  ~indicator-applet-developers will notice and sync up the code again.
Vcs-Bzr: http://bazaar.launchpad.net/~indicator-applet-developers/libusermetrics/trunk
Vcs-Browser: https://code.launchpad.net/~indicator-applet-developers/libusermetrics/trunk

Package: libusermetrics-tools
Architecture: any
Depends: libusermetricsinput1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: library for exporting anonymous metrics about users
 This package contains command line tools to operate the library.
 
Package: usermetricsservice
Architecture: any
Multi-Arch: same
Depends: dbus,
         sqlite3,
         libqt5sql5-sqlite,
         adduser,
         ${misc:Depends},
         ${shlibs:Depends}
Description: library for exporting anonymous metrics about users
 This package contains the service which stores the metrics.

Package: libusermetricsinput1-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libusermetricsinput1 (= ${binary:Version}),
         ${misc:Depends},
Description: library for exporting anonymous metrics about users
 This package contains files that are needed to build applications.

Package: libusermetricsinput1
Section: libs
Architecture: any
Multi-Arch: same
Depends: usermetricsservice (= ${binary:Version}),
         gettext,
         ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: ${misc:Pre-Depends},
Description: library for exporting anonymous metrics about users
 This package contains shared libraries to be used by applications.

Package: libusermetricsoutput1-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libusermetricsoutput1 (= ${binary:Version}),
         ${misc:Depends},
Description: library for retrieving anonymous metrics about users
 This package contains files that are needed to build applications.

Package: libusermetricsoutput1
Section: libs
Architecture: any
Multi-Arch: same
Depends: usermetricsservice (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: ${misc:Pre-Depends},
Description: library for retrieving anonymous metrics about users
 This package contains shared libraries to be used by applications.

Package: libusermetrics-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
Description: API documentation for libusermetrics
 This package installs the libusermetrics API documentation.
